body{
    font-family: 'Libre Baskerville', serif;
}
h1{
    font-size: 50px;
}
.pink{
    color: rgb(217, 62, 88);
}
section{
    display: flex;


}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.text-button{
    text-decoration: none;
    background-image:linear-gradient(pink,purple);
    padding: 10px 40px;
    color: black;
    border-radius: 5px;
    font-weight: 700;

}
.top-banner{

    background-image: url(images/bg6.png);

    background-repeat: no-repeat;
}

